pip install tensorflow==1.4.1
pip install scipy==1.0.0
pip install scikit-learn==0.19.1
pip install matplotlib==2.1.1
pip install xlrd==1.1.0
pip install ipdb==0.10.3
pip install Pillow==5.0.0
pip install lxml==4.1.1
